<ion-card>
  <ion-card-header>
    <ion-avatar>
      <img id="userImage" [src]="user.image" />
    </ion-avatar>
  </ion-card-header>

  <ion-card-content>
    <form id="loginform" [formGroup]="registerForm" (ngSubmit)="updateUser()">
      <ion-input type="text" [value]="user.uid" disabled></ion-input>
      <ion-input type="text" [value]="user.email" disabled></ion-input>
      <ion-input
        type="text"
        placeholder="Name"
        formControlName="name"
      ></ion-input>
      <ion-input
        type="text"
        placeholder="Lastname"
        formControlName="lastName"
      ></ion-input>
      <ion-select (change)="changeCity($event)" formControlName="type">
        <ion-select-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </ion-select-option>
      </ion-select>
      <div class="form-group">
        <div class="col-xs-12">
          <ion-fab horizontal="center" slot="fixed">
            <ion-fab-button (click)="addPhotoToGallery()">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>
      <div class="row">
        <div class="col text-danger">
          <p *ngIf="isChanges">* no changes have been made</p>
        </div>
      </div>
      <ion-button expand="block" type="submit">Update User</ion-button>
    </form>
  </ion-card-content>
</ion-card>
